/FundoBase.Api/bin
/FundoBase.Api/obj
/FundoBase.Blazor/bin
/FundoBase.Blazor/obj
/FundoBase.ConsoleApp/bin
/FundoBase.ConsoleApp/obj
/FundoBase.Data/bin
/FundoBase.Data/obj
/FundoBase.Domain/bin
/FundoBase.Domain/obj
/FundoBase.Infra/bin
/FundoBase.Infra/obj
/FundoBase.Service/bin
/FundoBase.Service/obj
/FundoBase.Tests/bin
/FundoBase.Tests/obj
/FundoBase.Worker/bin
/FundoBase.Worker/obj
/FundoBase.Api/obj
/FundoBase.Api/obj
/FundoBase.Worker/obj/Debug
